/* Style for the 'yellow' paragraph */
#yellow {
    background: yellow;
    border: 1px solid green;
}

/* Style for the 'red' paragraph */
#red {
    background: red;
    border: 1px solid black;
}

/* Style for the 'green' paragraph */
#green {
    background: green;
    border: 1px solid yellow;
}
